--
-- PostgreSQL database dump
--

\restrict 8efNqwpq6xdVzF6zhqbwaZ4fyzdQzD7iyQbTaBjYJQeIZ3YL13Ss4AjM6r6BfxQ

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_type AS ENUM (
    'assignment',
    'overdue',
    'update_request',
    'mention'
);


ALTER TYPE public.notification_type OWNER TO postgres;

--
-- Name: ticket_category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ticket_category AS ENUM (
    'general',
    'technical',
    'billing',
    'account',
    'feature_request',
    'hardware',
    'software',
    'network',
    'login',
    'other'
);


ALTER TYPE public.ticket_category OWNER TO postgres;

--
-- Name: ticket_priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ticket_priority AS ENUM (
    'low',
    'medium',
    'high',
    'critical'
);


ALTER TYPE public.ticket_priority OWNER TO postgres;

--
-- Name: ticket_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ticket_status AS ENUM (
    'open',
    'in_progress',
    'waiting_on_customer',
    'resolved',
    'closed'
);


ALTER TYPE public.ticket_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'customer',
    'technician',
    'admin'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: cleanup_expired_guest_sessions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_guest_sessions() RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE guest_sessions 

    SET is_active = false 

    WHERE expires_at < CURRENT_TIMESTAMP AND is_active = true;

END;

$$;


ALTER FUNCTION public.cleanup_expired_guest_sessions() OWNER TO postgres;

--
-- Name: cleanup_expired_refresh_tokens(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_refresh_tokens() RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM refresh_tokens 

    WHERE expires_at < CURRENT_TIMESTAMP OR is_revoked = true;

END;

$$;


ALTER FUNCTION public.cleanup_expired_refresh_tokens() OWNER TO postgres;

--
-- Name: generate_ticket_number(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_ticket_number() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    year_part VARCHAR(4);

    sequence_part VARCHAR(5);

BEGIN

    year_part := TO_CHAR(CURRENT_TIMESTAMP, 'YYYY');

    sequence_part := LPAD(NEW.id::TEXT, 5, '0');

    NEW.ticket_number := 'TICK-' || year_part || '-' || sequence_part;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.generate_ticket_number() OWNER TO postgres;

--
-- Name: log_ticket_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_ticket_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Log status changes

    IF (TG_OP = 'UPDATE' AND OLD.status IS DISTINCT FROM NEW.status) THEN

        INSERT INTO ticket_history (ticket_id, changed_by, change_type, field_name, old_value, new_value)

        VALUES (NEW.id, NEW.assigned_to, 'status_change', 'status', OLD.status::TEXT, NEW.status::TEXT);

    END IF;

    

    -- Log priority changes

    IF (TG_OP = 'UPDATE' AND OLD.priority IS DISTINCT FROM NEW.priority) THEN

        INSERT INTO ticket_history (ticket_id, changed_by, change_type, field_name, old_value, new_value)

        VALUES (NEW.id, NEW.assigned_to, 'priority_change', 'priority', OLD.priority::TEXT, NEW.priority::TEXT);

    END IF;

    

    -- Log category changes

    IF (TG_OP = 'UPDATE' AND OLD.category IS DISTINCT FROM NEW.category) THEN

        INSERT INTO ticket_history (ticket_id, changed_by, change_type, field_name, old_value, new_value)

        VALUES (NEW.id, NEW.assigned_to, 'category_change', 'category', OLD.category::TEXT, NEW.category::TEXT);

    END IF;

    

    -- Log assignment changes

    IF (TG_OP = 'UPDATE' AND OLD.assigned_to IS DISTINCT FROM NEW.assigned_to) THEN

        INSERT INTO ticket_history (ticket_id, changed_by, change_type, field_name, old_value, new_value)

        VALUES (NEW.id, NEW.assigned_to, 'assignment', 'assigned_to', 

                COALESCE(OLD.assigned_to::TEXT, 'unassigned'), 

                COALESCE(NEW.assigned_to::TEXT, 'unassigned'));

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.log_ticket_changes() OWNER TO postgres;

--
-- Name: set_ticket_sla_dates(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_ticket_sla_dates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Set response and resolution due dates based on priority

    CASE NEW.priority

        WHEN 'critical' THEN

            NEW.response_due_at := NEW.created_at + INTERVAL '1 hour';

            NEW.resolution_due_at := NEW.created_at + INTERVAL '4 hours';

        WHEN 'high' THEN

            NEW.response_due_at := NEW.created_at + INTERVAL '2 hours';

            NEW.resolution_due_at := NEW.created_at + INTERVAL '8 hours';

        WHEN 'medium' THEN

            NEW.response_due_at := NEW.created_at + INTERVAL '4 hours';

            NEW.resolution_due_at := NEW.created_at + INTERVAL '24 hours';

        WHEN 'low' THEN

            NEW.response_due_at := NEW.created_at + INTERVAL '8 hours';

            NEW.resolution_due_at := NEW.created_at + INTERVAL '72 hours';

    END CASE;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_ticket_sla_dates() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    ticket_number character varying(20) NOT NULL,
    customer_id integer NOT NULL,
    assigned_to integer,
    subject character varying(500) NOT NULL,
    description text NOT NULL,
    category public.ticket_category DEFAULT 'general'::public.ticket_category NOT NULL,
    priority public.ticket_priority DEFAULT 'low'::public.ticket_priority NOT NULL,
    user_priority public.ticket_priority,
    ai_priority public.ticket_priority,
    status public.ticket_status DEFAULT 'open'::public.ticket_status NOT NULL,
    ai_classified boolean DEFAULT false NOT NULL,
    ai_confidence numeric(3,2),
    ai_fallback_used boolean DEFAULT false,
    ai_keywords_matched jsonb,
    resolution text,
    resolved_at timestamp with time zone,
    resolved_by integer,
    response_due_at timestamp with time zone,
    resolution_due_at timestamp with time zone,
    first_response_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    closed_at timestamp with time zone,
    CONSTRAINT ai_confidence_range CHECK (((ai_confidence IS NULL) OR ((ai_confidence >= (0)::numeric) AND (ai_confidence <= (1)::numeric)))),
    CONSTRAINT resolved_fields_consistency CHECK ((((status = ANY (ARRAY['resolved'::public.ticket_status, 'closed'::public.ticket_status])) AND (resolved_at IS NOT NULL)) OR ((status <> ALL (ARRAY['resolved'::public.ticket_status, 'closed'::public.ticket_status])) AND (resolved_at IS NULL))))
);


ALTER TABLE public.tickets OWNER TO postgres;

--
-- Name: TABLE tickets; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.tickets IS 'Main table for support tickets with AI classification metadata';


--
-- Name: COLUMN tickets.ai_confidence; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tickets.ai_confidence IS 'AI classification confidence score (0.00 to 1.00)';


--
-- Name: COLUMN tickets.ai_fallback_used; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tickets.ai_fallback_used IS 'Indicates if AI classifier used fallback behavior';


--
-- Name: COLUMN tickets.ai_keywords_matched; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tickets.ai_keywords_matched IS 'JSON object containing matched keywords from AI classification';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    username character varying(50),
    role public.user_role DEFAULT 'customer'::public.user_role NOT NULL,
    phone character varying(20),
    company character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    is_guest boolean DEFAULT false NOT NULL,
    force_password_change boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login timestamp with time zone,
    CONSTRAINT email_format CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT phone_format CHECK (((phone IS NULL) OR ((phone)::text ~* '^\+?[0-9\s\-\(\)]+$'::text)))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.users IS 'Stores all system users including customers, technicians, and administrators';


--
-- Name: active_tickets_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.active_tickets_view AS
 SELECT t.id,
    t.ticket_number,
    t.subject,
    t.status,
    t.priority,
    t.category,
    t.created_at,
    t.ai_confidence,
    (((c.first_name)::text || ' '::text) || (c.last_name)::text) AS customer_name,
    c.email AS customer_email,
    COALESCE((((a.first_name)::text || ' '::text) || (a.last_name)::text), 'Unassigned'::text) AS assigned_to_name,
    (EXTRACT(epoch FROM (CURRENT_TIMESTAMP - t.created_at)) / (3600)::numeric) AS age_hours,
        CASE
            WHEN (t.resolution_due_at < CURRENT_TIMESTAMP) THEN true
            ELSE false
        END AS is_overdue
   FROM ((public.tickets t
     JOIN public.users c ON ((t.customer_id = c.id)))
     LEFT JOIN public.users a ON ((t.assigned_to = a.id)))
  WHERE (t.status <> 'closed'::public.ticket_status);


ALTER VIEW public.active_tickets_view OWNER TO postgres;

--
-- Name: ai_classifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_classifications (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    predicted_category public.ticket_category NOT NULL,
    predicted_priority public.ticket_priority NOT NULL,
    confidence numeric(3,2) NOT NULL,
    keywords_matched jsonb,
    fallback_used boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ai_confidence_range CHECK (((confidence >= (0)::numeric) AND (confidence <= (1)::numeric)))
);


ALTER TABLE public.ai_classifications OWNER TO postgres;

--
-- Name: ai_classifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_classifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_classifications_id_seq OWNER TO postgres;

--
-- Name: ai_classifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_classifications_id_seq OWNED BY public.ai_classifications.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name public.ticket_category NOT NULL,
    display_name character varying(100) NOT NULL,
    description text,
    color_code character varying(7),
    icon character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT color_code_format CHECK (((color_code IS NULL) OR ((color_code)::text ~* '^#[0-9A-Fa-f]{6}$'::text)))
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: TABLE categories; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.categories IS 'Predefined ticket categories synchronized with AI classifier';


--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: category_statistics_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.category_statistics_view AS
 SELECT c.name AS category,
    c.display_name,
    count(t.id) AS total_tickets,
    count(
        CASE
            WHEN (t.status = 'open'::public.ticket_status) THEN 1
            ELSE NULL::integer
        END) AS open_tickets,
    count(
        CASE
            WHEN (t.ai_classified = true) THEN 1
            ELSE NULL::integer
        END) AS ai_classified_tickets,
    avg(t.ai_confidence) FILTER (WHERE (t.ai_classified = true)) AS avg_ai_confidence,
    avg((EXTRACT(epoch FROM (t.resolved_at - t.created_at)) / (3600)::numeric)) FILTER (WHERE (t.resolved_at IS NOT NULL)) AS avg_resolution_hours
   FROM (public.categories c
     LEFT JOIN public.tickets t ON ((c.name = t.category)))
  GROUP BY c.name, c.display_name;


ALTER VIEW public.category_statistics_view OWNER TO postgres;

--
-- Name: guest_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guest_sessions (
    id integer NOT NULL,
    session_token character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp with time zone DEFAULT (CURRENT_TIMESTAMP + '24:00:00'::interval) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    CONSTRAINT guest_email_format CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))
);


ALTER TABLE public.guest_sessions OWNER TO postgres;

--
-- Name: guest_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guest_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guest_sessions_id_seq OWNER TO postgres;

--
-- Name: guest_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guest_sessions_id_seq OWNED BY public.guest_sessions.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type public.notification_type NOT NULL,
    message text NOT NULL,
    ticket_id integer,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT notification_message_length CHECK ((length(message) <= 1000))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: TABLE notifications; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.notifications IS 'User notifications for ticket assignments, updates, and mentions';


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token character varying(500) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_revoked boolean DEFAULT false NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: schema_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_version (
    version character varying(20) NOT NULL,
    applied_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text
);


ALTER TABLE public.schema_version OWNER TO postgres;

--
-- Name: technician_workload_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.technician_workload_view AS
 SELECT u.id AS technician_id,
    (((u.first_name)::text || ' '::text) || (u.last_name)::text) AS technician_name,
    count(
        CASE
            WHEN (t.status = 'open'::public.ticket_status) THEN 1
            ELSE NULL::integer
        END) AS open_tickets,
    count(
        CASE
            WHEN (t.status = 'in_progress'::public.ticket_status) THEN 1
            ELSE NULL::integer
        END) AS in_progress_tickets,
    count(
        CASE
            WHEN (t.status = 'waiting_on_customer'::public.ticket_status) THEN 1
            ELSE NULL::integer
        END) AS waiting_tickets,
    count(*) AS total_assigned
   FROM (public.users u
     LEFT JOIN public.tickets t ON (((u.id = t.assigned_to) AND (t.status <> ALL (ARRAY['closed'::public.ticket_status, 'resolved'::public.ticket_status])))))
  WHERE (u.role = ANY (ARRAY['technician'::public.user_role, 'admin'::public.user_role]))
  GROUP BY u.id, u.first_name, u.last_name;


ALTER VIEW public.technician_workload_view OWNER TO postgres;

--
-- Name: ticket_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_assignments (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    assigned_to integer NOT NULL,
    assigned_by integer,
    assigned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    unassigned_at timestamp with time zone,
    notes text,
    CONSTRAINT assignment_dates_valid CHECK (((unassigned_at IS NULL) OR (unassigned_at >= assigned_at)))
);


ALTER TABLE public.ticket_assignments OWNER TO postgres;

--
-- Name: TABLE ticket_assignments; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ticket_assignments IS 'Assignment history tracking for tickets';


--
-- Name: ticket_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ticket_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ticket_assignments_id_seq OWNER TO postgres;

--
-- Name: ticket_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ticket_assignments_id_seq OWNED BY public.ticket_assignments.id;


--
-- Name: ticket_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_history (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    changed_by integer,
    change_type character varying(50) NOT NULL,
    field_name character varying(100),
    old_value text,
    new_value text,
    comment text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    change_details jsonb
);


ALTER TABLE public.ticket_history OWNER TO postgres;

--
-- Name: TABLE ticket_history; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ticket_history IS 'Audit trail for all ticket changes and updates';


--
-- Name: ticket_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ticket_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ticket_history_id_seq OWNER TO postgres;

--
-- Name: ticket_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ticket_history_id_seq OWNED BY public.ticket_history.id;


--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_id_seq OWNER TO postgres;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_classifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_classifications ALTER COLUMN id SET DEFAULT nextval('public.ai_classifications_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: guest_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest_sessions ALTER COLUMN id SET DEFAULT nextval('public.guest_sessions_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: ticket_assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_assignments ALTER COLUMN id SET DEFAULT nextval('public.ticket_assignments_id_seq'::regclass);


--
-- Name: ticket_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history ALTER COLUMN id SET DEFAULT nextval('public.ticket_history_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_classifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_classifications (id, ticket_id, predicted_category, predicted_priority, confidence, keywords_matched, fallback_used, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: guest_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guest_sessions (id, session_token, email, full_name, created_at, expires_at, is_active) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, type, message, ticket_id, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schema_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schema_version (version, applied_at, description) FROM stdin;
1.0.0	2026-02-21 15:39:21.671078-05	Initial BlueClue database schema with AI classification support
\.


--
-- Data for Name: ticket_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ticket_assignments (id, ticket_id, assigned_to, assigned_by, assigned_at, unassigned_at, notes) FROM stdin;
\.


--
-- Data for Name: ticket_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ticket_history (id, ticket_id, changed_by, change_type, field_name, old_value, new_value, comment, created_at, change_details) FROM stdin;
1	1	1	assignment	assigned_to	unassigned	1	\N	2026-02-21 22:42:18.29482-05	\N
2	2	3	assignment	assigned_to	unassigned	3	\N	2026-02-21 22:44:15.096637-05	\N
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_classifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_classifications_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 10, true);


--
-- Name: guest_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guest_sessions_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 4, true);


--
-- Name: ticket_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ticket_assignments_id_seq', 1, false);


--
-- Name: ticket_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ticket_history_id_seq', 2, true);


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tickets_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: ai_classifications ai_classifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_classifications
    ADD CONSTRAINT ai_classifications_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: guest_sessions guest_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest_sessions
    ADD CONSTRAINT guest_sessions_pkey PRIMARY KEY (id);


--
-- Name: guest_sessions guest_sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest_sessions
    ADD CONSTRAINT guest_sessions_session_token_key UNIQUE (session_token);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ai_classifications one_classification_per_ticket; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_classifications
    ADD CONSTRAINT one_classification_per_ticket UNIQUE (ticket_id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: refresh_tokens refresh_tokens_user_id_idx; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_idx UNIQUE (user_id, token);


--
-- Name: schema_version schema_version_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_version
    ADD CONSTRAINT schema_version_pkey PRIMARY KEY (version);


--
-- Name: ticket_assignments ticket_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_assignments
    ADD CONSTRAINT ticket_assignments_pkey PRIMARY KEY (id);


--
-- Name: ticket_history ticket_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_ticket_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_ticket_number_key UNIQUE (ticket_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_ai_classifications_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_category ON public.ai_classifications USING btree (predicted_category);


--
-- Name: idx_ai_classifications_confidence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_confidence ON public.ai_classifications USING btree (confidence);


--
-- Name: idx_ai_classifications_fallback; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_fallback ON public.ai_classifications USING btree (fallback_used);


--
-- Name: idx_ai_classifications_keywords; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_keywords ON public.ai_classifications USING gin (keywords_matched);


--
-- Name: idx_ai_classifications_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_priority ON public.ai_classifications USING btree (predicted_priority);


--
-- Name: idx_ai_classifications_ticket; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_classifications_ticket ON public.ai_classifications USING btree (ticket_id);


--
-- Name: idx_categories_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_active ON public.categories USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_guest_sessions_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_guest_sessions_active ON public.guest_sessions USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_guest_sessions_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_guest_sessions_email ON public.guest_sessions USING btree (email);


--
-- Name: idx_guest_sessions_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_guest_sessions_expires_at ON public.guest_sessions USING btree (expires_at);


--
-- Name: idx_guest_sessions_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_guest_sessions_token ON public.guest_sessions USING btree (session_token);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at DESC);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read) WHERE (is_read = false);


--
-- Name: idx_notifications_ticket; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_ticket ON public.notifications USING btree (ticket_id);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_notifications_user_unread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_unread ON public.notifications USING btree (user_id, is_read, created_at DESC) WHERE (is_read = false);


--
-- Name: idx_refresh_tokens_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_expires_at ON public.refresh_tokens USING btree (expires_at);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_ticket_assignments_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_assignments_active ON public.ticket_assignments USING btree (ticket_id, assigned_to) WHERE (unassigned_at IS NULL);


--
-- Name: idx_ticket_assignments_assigned_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_assignments_assigned_to ON public.ticket_assignments USING btree (assigned_to);


--
-- Name: idx_ticket_assignments_ticket; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_assignments_ticket ON public.ticket_assignments USING btree (ticket_id);


--
-- Name: idx_ticket_history_change_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_history_change_type ON public.ticket_history USING btree (change_type);


--
-- Name: idx_ticket_history_changed_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_history_changed_by ON public.ticket_history USING btree (changed_by);


--
-- Name: idx_ticket_history_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_history_created_at ON public.ticket_history USING btree (created_at DESC);


--
-- Name: idx_ticket_history_ticket; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_history_ticket ON public.ticket_history USING btree (ticket_id);


--
-- Name: idx_tickets_ai_classified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_ai_classified ON public.tickets USING btree (ai_classified);


--
-- Name: idx_tickets_ai_keywords; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_ai_keywords ON public.tickets USING gin (ai_keywords_matched);


--
-- Name: idx_tickets_ai_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_ai_priority ON public.tickets USING btree (ai_priority) WHERE (ai_priority IS NOT NULL);


--
-- Name: idx_tickets_assigned_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_assigned_to ON public.tickets USING btree (assigned_to);


--
-- Name: idx_tickets_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_category ON public.tickets USING btree (category);


--
-- Name: idx_tickets_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_created_at ON public.tickets USING btree (created_at DESC);


--
-- Name: idx_tickets_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_customer ON public.tickets USING btree (customer_id);


--
-- Name: idx_tickets_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_number ON public.tickets USING btree (ticket_number);


--
-- Name: idx_tickets_open_assigned; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_open_assigned ON public.tickets USING btree (assigned_to, status) WHERE (status = ANY (ARRAY['open'::public.ticket_status, 'in_progress'::public.ticket_status]));


--
-- Name: idx_tickets_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_priority ON public.tickets USING btree (priority);


--
-- Name: idx_tickets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_status ON public.tickets USING btree (status);


--
-- Name: idx_tickets_user_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_user_priority ON public.tickets USING btree (user_priority) WHERE (user_priority IS NOT NULL);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_created_at ON public.users USING btree (created_at);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_force_password_change; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_force_password_change ON public.users USING btree (force_password_change) WHERE (force_password_change = true);


--
-- Name: idx_users_is_guest_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_is_guest_created_at ON public.users USING btree (is_guest, created_at) WHERE (is_guest = true);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: tickets generate_ticket_number_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER generate_ticket_number_trigger BEFORE INSERT ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.generate_ticket_number();


--
-- Name: tickets log_ticket_changes_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER log_ticket_changes_trigger AFTER UPDATE ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.log_ticket_changes();


--
-- Name: tickets set_ticket_sla_dates_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_ticket_sla_dates_trigger BEFORE INSERT ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.set_ticket_sla_dates();


--
-- Name: tickets update_tickets_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_tickets_updated_at BEFORE UPDATE ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ai_classifications ai_classifications_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_classifications
    ADD CONSTRAINT ai_classifications_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ticket_assignments ticket_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_assignments
    ADD CONSTRAINT ticket_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ticket_assignments ticket_assignments_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_assignments
    ADD CONSTRAINT ticket_assignments_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ticket_assignments ticket_assignments_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_assignments
    ADD CONSTRAINT ticket_assignments_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) ON DELETE CASCADE;


--
-- Name: ticket_history ticket_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ticket_history ticket_history_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) ON DELETE CASCADE;


--
-- Name: tickets tickets_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tickets tickets_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: tickets tickets_resolved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_resolved_by_fkey FOREIGN KEY (resolved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 8efNqwpq6xdVzF6zhqbwaZ4fyzdQzD7iyQbTaBjYJQeIZ3YL13Ss4AjM6r6BfxQ

